/**
 * Responsive helpers
 * =====================================================================
 */

responsive-visibility__placeholders_only := false

$responsive-visibility-hidden
    display: none !important

responsive-visibility(key)
    $hidden-{key}
        display: none !important
    if !responsive-visibility__placeholders_only
        .hidden-{key}
            @extends $hidden-{key}
    for type in inline block inline-block
        $visible-{key}-{type}
            display: type !important
        if type == block
            $visible-{key}
                @extends $visible-{key}-{type}
        if !responsive-visibility__placeholders_only
            responsive-visibility__extend(key, type)

responsive-visibility__extend(key, type)
    .visible-{key}-{type}
        @extends $visible-{key}-{type}
    if type == block
        .visible-{key}
            @extends $visible-{key}-{type}

for key, bp in breakpoints
    if (bp.min==0)
        +mq-max(bp.max)
            responsive-visibility(key)
    else if (bp.max==0)
        +mq-min(bp.min)
            responsive-visibility(key)
    else
        +mq-minmax(bp.min, bp.max)
            responsive-visibility(key)
    for type in inline block inline-block
        $visible-{key}-{type}
            @extends $responsive-visibility-hidden
        if type == block
            $visible-{key}
                @extends $responsive-visibility-hidden
        if !responsive-visibility__placeholders_only
            responsive-visibility__extend(key, type)
