collection__folder_imports   := 'imports/'
collection__folder_plugins   := collection__folder_imports + 'plugins/'
collection__folder_functions := collection__folder_imports + 'functions/'
collection__folder_mixins    := collection__folder_imports + 'mixins/'
collection__folder_modules   := collection__folder_imports + 'modules/'

use(collection__folder_plugins + 'to-string.js')
use(collection__folder_plugins + 'file-ext.js')

@require collection__folder_imports   + 'variables'

@require collection__folder_functions + '*'

@require collection__folder_mixins    + '*'

@require collection__folder_modules   + 'mediaquery-placeholders'

@require collection__folder_modules   + '*'

if type-of(grid-config) == 'object'
    create-grid(grid-config);
